<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink=""><i class="bi bi-house-fill i1"></i>Home</a>
      <!--<a mat-list-item>Sobre mi</a>-->
      <a mat-list-item routerLink="projects"><i class="bi bi-lightbulb-fill i1"></i>Proyectos</a>
      <a mat-list-item routerLink="contact"><i class="bi bi-phone-fill i1"></i>Contactos y redes.</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Cesar A.</mat-card-title>
        <mat-card-subtitle>Ariza Duarte</mat-card-subtitle>
      </mat-card-header>
      <div class="example-icon">
        <span style="cursor: pointer" routerLink="">my.vitae</span>
      </div>
    </mat-toolbar>
    <div class="container mt-5">
      <div class="col-12">
        <mat-card>
          <ng-content></ng-content>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
