<div class="example-container mat-elevation-z8">
  <div class="row">
    <div class="col-12">
      <mat-card-content>
        <h1>Contactos y redes.</h1>
      </mat-card-content>
    </div>
  </div>
</div>
<br />

<section class="container mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="icon-card" fxLayoutAlign="center center">
          <!-- Facebook -->
          <a class="btn btn-primary i1" style="background-color: #3b5998;" href="https://web.facebook.com/scrapi/" role="button">
            <i class="bi bi-facebook" style="font-size: 2rem"></i>
          </a>

          <!-- Twitter -->
          <a class="btn btn-primary i1" style="background-color: #55acee;" href="https://twitter.com/home" role="button">
            <i class="bi bi-twitter" style="font-size: 2rem"></i>
          </a>

          <!-- Instagram -->
          <a class="btn btn-primary i1" style="background-color: #ac2bac;" href="https://www.instagram.com/" role="button">
            <i class="bi bi-instagram" style="font-size: 2rem"></i>
          </a>

          <!-- Linkedin -->
          <a class="btn btn-primary i1" style="background-color: #0082ca;" href="https://www.linkedin.com/feed/" role="button">
            <i class="bi bi-linkedin" style="font-size: 2rem"></i>
          </a>

          <!-- Github -->
          <a class="btn btn-primary" style="background-color: #333333;" href="https://github.com/dashboard" role="button">
            <i class="bi bi-github" style="font-size: 2rem"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


