<div class="example-container mat-elevation-z8">
  <div class="row">
    <div class="col-12">
      <mat-card-content>
        <h1>Hoja de vida</h1>
      </mat-card-content>
    </div>
  </div>
</div>
<br />
<form id="frmpdf" #frmpdf>
  <div class="example-container">
    <section class="container mt-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <mat-card-content>
              <h1 class="titles">Cesar Augusto Ariza Duarte </h1>
              <p>Desarrollador Front-End y bases en Back-End en el framework de .Net. </p>
              <p>C.C. 1012361232 | Experiencia en tecnologia.  2 años | Soltero. </p>
              <p>Analista | Ingeniero Asistente de Sistemas | Bogotá, Colombia </p>
              <section class="container mt-5">
                <p><i class="bi bi-envelope i1"></i>Cesar.ariza34@yahoo.com</p>
                <p><i class="bi bi-telephone i1"></i>350 741 11 76</p><br />
              </section>
              <h1 class="titles"><i class="bi bi-journal-medical i1"></i>Objetivos y habilidades profesionales</h1>
              <p>
                Saludos,  en  este  breve  espacio,  resumiré  mis  técnicas  de  desempeño  en  el  área
                de  tecnología  y  las  metas,  que  a  mi  parecer  han  destacado  para  una  funcionalidad,
                que  aunque  corta,  ha  sido  de  sustanciosa  dedicación,  me  caracterizo  por  tener  habilidades
                sociales  como  la  dedicación  entrega  y  cordialidad,  en  frente  de  los  retos  que  se  deben
                asumir,  antes  de  tomar  una  postura  profesional,  se  debe  capacitar  el  mérito  de,  si  se
                está  preparado  para  un  éxito  rotundo  que,  aquí  en  relevancia  con  mis  objetivos  profesionales,
                analizo  mi  potencial  y  las  posibles  falencias  que  podría  albergar  una  solución a los temas en
                desarrollo
              </p>
              <p>
                En  principio,  me  enfoco  en  la  analitica,  pienso  los  sucesos  y  actuó  en  referente  a  la  situación,
                como  dicen  por  ahí,  pienso  luego  actuo,  y  con  esta  filosofía,  los  sentimientos,  estrategias
                planes  y  observaciones  tiene  un  mayor  enfoque,  a  una  radical  y  puntual  solución exitosa.
              </p><br />
              <h1 class="titles"><i class="bi bi-award i1"></i>Competencies y certificaciones académicas</h1>
              <p>• Sena. Servicio Nacional de Aprendizaje sede Bogotá.</p>
              <p>Adsi. Análisis y desarrollo de sistemas de información. </p>
              <p>fecha de inicio, junio de  2019 - Fecha de finalización, julio de 2021</p>
              <p>Tecnólogo. </p><br />

              <p>• Colegio. Liceo Cultural Luis Enrique Osorio. </p>
              <p>Bachiller académico. </p>
              <p>Fecha inicio, febrero 2003 - Fecha de finalización, noviembre de 2008. </p>
              <p>Técnico auxiliar de contaduría. </p><br />

              <h1 class="titles"><i class="bi bi-briefcase i1"></i>Experiencias laborales </h1>
              <p>•  TCS. Tata Consultancy Service. </p>
              <p>Enero 13 de 2022 - mayo 19 de 2023 </p>
              <p>Proyecto: Avianca.      Area: DevOps and architecture. </p><br />

              <h1 class="titles"><i class="bi bi-tools i1"></i>Funciones y herramientas utilizadas</h1>
              <p>
                Técnica:  Implementación  de  metodologías  Ágiles,  con  retroalimentación  semanal,
                con  un  máximo  de  duración  de  15  minutos,  para  el  seguimiento  y  avance
                individual  de  las  funciones  con  compromisos  establecidos  en  el  tablero  de
                la  plataforma  Azure,  herramienta  DevOps,  de  microsoft,  indicando  también  la
                exposición  diaria  en  esta  plataforma  con  el  dominio  de  las  demás  herramientas,
                en  mi  caso  con  Pipelines  tradicionales  CD/CI,  Artifacts,  relacionada  con  los
                Pipelines,  repost,  con  asuntos  de  Commit  en  cambios  de  código  mediante  merch
                diarios.  Se  dictaban  cursos-charlas  del  lenguaje  de  dominio,  en  mi  caso  “TS”
                TypeScript  con  el  Framework  de  uso,  Angular,  al  grupo,  en  un  principio,  y
                seguido  a  las  áreas  técnicas,  con  el  fin  de  suministrar  un  avance de entendimiento
                más profundo en las áreas de no desarrollo
              </p>
              <p>
                En  desarrollo  estaba  encargado  de  la  migración  de  una  plataforma  interna,  que  media
                la  madurez  DevOps  de  sus  herramientas,  en  el  personal  de  Avianca,  en  las  historias
                de  usuario,  se  categorizó  con  una  adaptación  de  última  generación  en  sus  herramientas,
                en  pro  de  una  manipulación  y  mantenimiento,  versátil,  con  dos  lenguajes  de  dominio  se
                implementaron  medidas  de  seguridad,  llamadas  así  para  una  instancia  de  la  plataforma  de
                Azure,  en  este  caso  se  citó  la  de  AAD  (Azure  Active  Directory),  independizando  sus  dos
                proyectos  (Back-Front),  pues  estos  estaban  fusionados  en  uno  solo,  en  la  versión  a  mejorar,
                con  la  independencia  de  estos  se  optó  por  la  fusión  de  sus  métodos  de  acceso,  en archivos
                de configuración elemental por cada uno de sus proyectos.
              </p>
              <p>●	Maquetacion CSS, HTML</p>
              <p>●	Implementación Frameworks Angular y .Net</p>
              <p>●	programación en lenguajes TypeScript y Sheshar</p>
              <p>●	Dominio de la herramienta DevOps</p>
            </mat-card-content>
          </div>
        </div>
      </div>
    </section>
  </div>
</form>
<div style="text-align: center;">
  <button class="btn btn-success mb-5" (click)="imprimir()">Descargar pdf</button>
</div>
